/* 全局样式 */
:root {
    --background-color: #fff;
    /* 背景颜色 */
    --text-color: #3b3b3b;
    /* 文字颜色 */
    --sidebar-bg-color: rgba(200, 200, 200, 0.4);
    /* 边栏背景颜色，更灰 */
    --button-bg-color: transparent;
    /* 按钮背景颜色，透明 */
    --button-hover-bg-color: #000;
    /* 按钮悬停背景颜色，深黑 */
    --sidebar-width: 150px;
    /* 边栏宽度，更窄 */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222;
        /* 夜间模式背景颜色 */
        --text-color: #fff;
        /* 夜间模式文字颜色 */
        --sidebar-bg-color: rgba(51, 51, 51, 0.75);
        /* 夜间模式边栏背景颜色 */
        --button-bg-color: #444;
        /* 夜间模式按钮背景颜色 */
        --button-hover-bg-color: #555;
        /* 夜间模式按钮悬停背景颜色 */
        --sidebar-width: 150px;
        /* 边栏宽度，更窄 */
        /* 按钮背景颜色，透明 */
        --button-bg-color: transparent;
    }
}
a.normal-link {
    color: inherit; /* 继承父元素的文字颜色 */
}
a.normal-link:hover,
a.normal-link:focus {
    text-decoration: underline; /* 鼠标悬停或聚焦时添加下划线 */
    color: inherit; /* 继承父元素的颜色，可调整为其他颜色 */
}

.viewing-history-content {
    background-color: var(--background-color);
    /* 设置背景颜色与其他页面一致 */
    padding: 20px;
    /* 根据需要调整页面的内边距 */
}

/* 设置滚动条的宽度和轨道颜色 */
::-webkit-scrollbar {
    width: 8px;
    /* 或任何您希望的宽度 */
    background-color: transparent;
    /* 滚动条轨道颜色 */
}

/* 设置滚动条滑块的颜色 */
::-webkit-scrollbar-thumb {
    background-color: rgba(64, 64, 64, 0.4);
    /* 滚动条滑块颜色 */
    border-radius: 6px;
    /* 如果需要，可以设置圆角 */
}

/* 设置当鼠标悬停在滚动条滑块上时的颜色 */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(130, 130, 130, 0.4);
    /* 滚动条滑块悬停颜色 */
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(198, 198, 198, 0.4);
    }
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(134, 134, 134, 0.4);
    }
}

.sidebar button:hover,
.sidebar button.active {
    background-color: var(--button-hover-bg-color);
    color: #fff;
    /* 或其他高亮颜色 */
    --sidebar-width: 150px;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* 水平布局 */
    height: 100vh;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    user-select: none; 
}

.sidebar {
    width: 20%;
    background-color: rgba(233, 233, 233, 1.0);
    padding: 10px;
    /* 边距调整为更窄 */
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
    /* 调整阴影效果 */
    transition: background-color 0.2s;
    /* 毛玻璃效果 */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-app-region: drag;
    /* 兼容Safari */
}

@media (prefers-color-scheme: dark) {
    .sidebar {
        background-color: rgb(42, 42, 42);
    }
}

.folder-item {
    margin-bottom: 10px;
    margin-top: 20px;
    border: none;
    padding: 5px 30px;
    background-color: rgba(233, 233, 233, 1.0);
    font-size: 16px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
}

.folder-item:hover {
    background-color: #000000;
    color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    .folder-item {
        background-color: #373737;
        color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    .folder-item:hover {
        background-color: #545454;
    }
}

.sidebar button {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    display: flex;
    align-items: center;
    /* 垂直居中对齐图标和文本 */
    justify-content: flex-start;
    background-color: var(--button-bg-color);
    font-size: 16px;
    color: var(--text-color);
    border: none;
    /* 去除边框 */
    border-radius: 5px;
    /* 去除圆角 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
    -webkit-app-region: no-drag;
    /* 文字左对齐 */
}

.sidebar button img {
    height: 1em;
    /* 图标高度与文本大小相匹配 */
    margin-left: 10px;
    filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
    .sidebar button img {
        filter: invert(0%);
    }
}

.sidebar button.active img,
.sidebar button:focus img,
.sidebar button:hover img,
.sidebar button:active img {
    filter: invert(0%);
}

.sidebar button span {
    display: block;
    /* 如果需要向左移动，可以通过增加左边距来实现 */
    padding-left: 10px;
    /* 或根据需要调整 */
}

.sidebar button:hover {
    background-color: var(--button-hover-bg-color);
    color: #fff;
    /* 鼠标悬停时文字颜色变为白色 */
    text-decoration: none;
    padding-left: 0;
    /* 移除文字下划线 */
    border-radius: 5px;
}

/* 适用于侧边栏按钮和观看记录项 */
li.sidebar-button:hover {
    background-color: var(--button-hover-bg-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    /* 如果需要向左移动，可以通过增加左边距来实现 */
    padding-left: 25px;
    cursor: pointer;
    /* 设置鼠标指针样式为手型 */
}

li.sidebar-button {
    position: relative;
    /* 设置为相对定位，以便为::before伪元素定位 */
    background-color: var(--background-color);
    color: var(--text-color);
    text-decoration: none;
    /* 确保溢出的文本不可见 */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 防止文本换行 */
    border-radius: 5px;
    /* 使用flex布局，确保内容垂直居中 */
    align-items: center;
    /* 垂直居中flex项 */
    /* 如果需要向左移动，可以通过增加左边距来实现 */
    padding-left: 25px;
    cursor: pointer;
    /* 设置鼠标指针样式为手型 */
}

span.text-container {
    display: block;
    /* 使 span 表现得像块级元素 */
    white-space: nowrap;
    /* 防止文本换行 */
    overflow: hidden;
    /* 隐藏溢出的文本 */
    text-overflow: ellipsis;
    max-width: 100%;
}

@keyframes scrollText {
    to {
        transform: translateX(-100%);
    }
}
#return-media-library {
    opacity: 0.5; /* 设置透明度为50% */
    pointer-events: none; /* 禁用鼠标事件，使按钮无法被点击 */
    cursor: default; /* 设置鼠标样式为默认样式，不是指针 */
}

#video-list li.sidebar-button {
    margin-left: -40px;
    /* 整体向左移动 */
}

#folder-list li.sidebar-button {
    margin-left: -40px;
    /* 整体向左移动 */
}
#anime-lib {
    margin-top:-20px;
    margin-left: -20px;
    /* 整体向左移动 */
}
#video-history li.sidebar-button {
    margin-left: -40px;
    /* 整体向左移动 */
}

li.sidebar-button::before {
    content: "";
    /* 必须设置，即使没有内容 */
    position: absolute;
    /* 绝对定位相对于其最近的相对定位祖先元素 */
    left: 0;
    /* 放在左侧边缘 */
    top: 50%;
    /* 与顶部对齐 */
    width: 10px;
    /* 设置宽度为5px */
    height: 10px;
    /* 高度与父元素一致 */
    background-color: var(--button-hover-bg-color);
    /* 白色背景 */
    transform: translateY(-50%);
}
.delete-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.content-area {
    margin-left: var(--sidebar-width);
    /* 将内容偏移侧边栏宽度 */
    width: 80%;
    height: 100%;
    background-color: #fff;
    overflow-y: hidden;
    /* 启用垂直滚动 */
    margin: 0;
    /* 移除外边距 */
    padding-left: 20px;
}

@media (prefers-color-scheme: dark) {
    .content-area {
        background-color: #222;
    }
}
.scrollable-list {
    height: 550px;
    /* 根据您的页面设计调整高度 */
    overflow-y: auto;
}
.upload-button {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 200px;
    height: 200px;
    color: var(--text-color);
    background-color: var(--sidebar-bg-color);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(20px);
    border: none;
    position: absolute;
    left: calc(50% + var(--sidebar-width) / 2);
    top: 50%;
    /* 新增：设置距顶部的比例 */
    transform: translate(-50%, -50%);
    /* 修改：同时在X和Y方向居中 */
    -webkit-app-region: no-drag;
}




.upload-button:hover {
    background-color: var(--button-hover-bg-color);
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    /* 修复悬停时的弧度 */
}

/* 新增的激活状态样式 */
.active {
    background-color: var(--button-hover-bg-color);
    color: #fff;
    border-radius: 20px;
    /* 确保激活状态时的按钮样式 */
}

.drag-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* 高度足够用于拖放和放置图标 */
    -webkit-app-region: drag;
    /* Electron的拖动区域 */
    z-index: 10;
    /* 确保这个区域位于其他内容上方 */
}

/* 更新原有的 .upload-container 样式 */
.upload-container {
    width: 200px;
    height: 200px;
    background-color: -sidebar-bg-color;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

/* 在 index.css 中添加样式 */
#version-text {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #999;
    /* 文本颜色 */
    font-size: 12px;
    /* 字体大小 */
}
hr.section-divider {
    margin-bottom: 0;
    /* 可选：如果您希望水平线与滚动区域之间没有空间，也可以移除下方边距 */
}

h2 {
    margin-top: 43.8px;
    color: #000000;
    /* 向下移动标题 */
}
@media (prefers-color-scheme: dark) {
    h2 {
        color:#ffffff;
    }
}
#title-text {
    position: fixed;
    left: 20px;
    font-weight: bold;
    color: #000000;
    /* 文本颜色 */
    font-size: 30px;
    /* 字体大小 */
    margin-top: 30px;
}
@media (prefers-color-scheme: dark) {
    #title-text {
        color:#ffffff;
    }
}
#import-video {
    margin-top: 100px;
}

.section-divider {
    border: none;
    border-top: 1px solid #e5e5e5;
    /* 设置顶部边框为1px高的灰色 */
    margin: 20px 0;
    /* 在横线上下添加空间 */
    width: 95%;
}

.upload-icon {
    width: 150px;
    height: 150px;
    background: url('icons/upload.png') no-repeat center;
    background-size: contain;

}
.anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.anime-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top:20px;
    margin-right:25px;
    margin-bottom:-15px;
    text-align: center;
    box-sizing: border-box;
}

.anime-image {
    width: 100%;
    height: 100%;
    max-height: 200px; /* 根据需要调整图片的最大高度 */
    border-radius: 2px; /* 添加圆角 */
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.3);
}
.anime-image img {
    border-radius: 2px; /* 添加圆角 */
    width: 100%;
    height: 100%;
    max-height: 200px; /* 根据需要调整图片的最大高度 */
    cursor: pointer;
}
.anime-title {
    flex: 0 0 auto;
    font-size: 13px;
    margin-top: 15px; /* 增加与图片的距离 */
    height: 3em; /* 固定高度以显示两行文本 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 显示两行 */
    -webkit-box-orient: vertical;
    white-space: normal;
    color:#595959;
}
.day-section h2 {
    margin-top: 20px; /* 减少顶部的空白 */
    margin-bottom: 5px; /* 减少标题和分割线之间的空白 */
    font-size: 20px;
    color:#373737;
}
.anime-deta h2{
    margin-top: 10px;
}
@media (prefers-color-scheme: dark) {
    .anime-title {
        color:#fdfdfd;
    }
}
@media (prefers-color-scheme: dark) {
    .day-section h2 {
        color:#ffffff;
    }
}

#anime-detail-content {
    padding: 20px;
}

#anime-detail-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#anime-detail-content p, #anime-detail-content ul {
    margin: 10px 0;
}

#anime-detail-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.anime-detail-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.anime-detail-image {
    flex: 0 0 30%;
    max-width: 30%;
    height: auto;
    max-height: auto;
    border-radius: 2px;
}

.anime-detail-image img {
    width: 100%;
    height: auto;
    max-height: auto;
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.anime-detail-text {
    flex: 1;
    max-height: 250px; /* 让其默认高度适应图像 */
    overflow-y: auto; /* 当内容超过高度时，出现垂直滚动条 */
}
.related-anime-item {
    color:#7e7e7e;
    cursor: pointer;
}
.related-anime-item:hover {
    color:#00d5ff;
    cursor: pointer;
}
.anime-summary {
    font-size: 14px;
}
.anime-summary2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
    padding: 0;
}

.anime-summary2 li {
    background-color: var(--sidebar-bg-color);
    color:var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.anime-summary2 li:hover {
    background-color:var(--button-hover-bg-color);
    color:#ffffff;
    cursor: pointer;
}
.anime-detail-info {
    margin-top: 20px;
}