body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}
/* 父容器，统一管理side-controls和danmakucon */
#side-container {
    position: absolute;
    right: 1%;  /* 控制整个容器距离右侧的距离 */
    top: 50%;   /* 控制容器在页面垂直位置 */
    transform: translateY(-50%); /* 垂直居中 */
    display: flex;
    flex-direction: column;  /* 垂直排列side-controls和danmakucon */
    align-items: center;  /* 居中对齐 */
    z-index: 100;  /* 确保其在页面其他元素之上 */
    gap: 20px;  /* 控制side-controls和danmakucon之间的间距 */
}
/* 弹幕开关容器样式 */
#danmakucon {
    display: flex;
    flex-direction: column;  /* 如果有多个开关，可以垂直排列 */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
}

#danmakuSwitch {
    background-image: url('icons/danmaku.png');

}

#danmakuSwitch2 {
    background-image: url('icons/danmaku2.png');
    display: none;
}

.danmaku-switch {
    z-index: 10;
    opacity: 0.5;
    margin: 2px;
    background-size: cover;
    width: 21px;
    height: 21px;
    transition: opacity 0.5s ease;
}

.danmaku-switch:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#audio-opacity-control {
    bottom: 54px;
    position: fixed;
    /* 调整为需要的位置 */
    width: 192px;
    height: 32.4px;
    transform: translate(8%, 0%) rotate(-90deg);
    transform-origin: left;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    display: flex;
    z-index: 100;
    /* 确保在弹幕按钮之上 */
    transition: opacity 0.5s ease;
}

#audio-slider {
    width: 90%;
    position: absolute;
    height: 4px;
    margin-top: 14.04px;
    margin-left: 9.6px;
    color: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    backdrop-filter: blur(10px);
    appearance: none;
}

#audio-slider::-webkit-slider-thumb {
    width: 4px;
    /* 滑块宽度 */
    height: 16px;
    /* 滑块高度 */
    background-color: white;
    /* 白色滑块颜色 */
    border-radius: 3px;
    /* 圆角边框 */
    appearance: none;
    /* 清除默认样式 */
    cursor: pointer;
    opacity: 0.5;

    transition: opacity 0.5s ease;
}

#audio-slider::-webkit-slider-thumb:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: opacity 0.5s ease;
}

#player-container {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#black-mask {
    position: absolute;  /* 让黑色遮罩层绝对定位 */
    top: 0;
    left: 0;
    z-index: 2;  /* 提高z-index确保在视频上方 */
    opacity: 1;  /* 完全不透明 */
    width: 100%;
    height: 100%;
    display: flex;  /* 使用flexbox布局来居中内容 */
    justify-content: center;
    align-items: center;
    background-color: black;  /* 背景设为黑色 */
    pointer-events: none;  /* 使鼠标事件穿透遮罩层 */
}
#black-background {
    position: absolute;  /* 让黑色遮罩层绝对定位 */
    top: 0;
    left: 0;
    z-index: -1;  /* 提高z-index确保在视频上方 */
    opacity: 1;  /* 完全不透明 */
    width: 100%;
    height: 100%;
    display: flex;  /* 使用flexbox布局来居中内容 */
    justify-content: center;
    align-items: center;
    background-color: black;  /* 背景设为黑色 */
    pointer-events: none;  /* 使鼠标事件穿透遮罩层 */
}
#subtitle-container {
    z-index: 3;
    bottom: 50px;
    /* 字幕距离视频底部的距离，可调整 */
    left: 0;
    width: 100%;
    text-align: center;
    /* 保证字幕居中显示 */
    pointer-events: none;
    /* 确保字幕不会干扰到视频的点击事件 */
}
#video-player {
    position: fixed;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* 或者根据实际需求调整高度 */
    width: 100%;
}
.drag-area {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    height: 25px;
    /* 高度足够用于拖放和放置图标 */
    -webkit-app-region: drag;
    /* Electron的拖动区域 */
    z-index: 100;
    /* 确保这个区域位于其他内容上方 */
    pointer-events: none;  /* 使鼠标事件穿透遮罩层 */
}
#controls-container {
    position: absolute;
    bottom: 10px;
    width: 90%;
    height: 32.4px;
    display: flex;
    justify-content: space-between;
    align-items: center;  /* 确保所有元素垂直居中 */
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 8px;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease;
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
#left-controls,
#right-controls {
    display: flex;
    flex-direction: row;
    align-items: center;  /* 确保控件垂直居中 */
}
#center-controls {
    flex-grow: 1;  /* 中间控件扩展以适应剩余空间 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;  /* 控制进度条与左右控件的间距 */
}

#seek-bar {
    width: 100%;  /* 进度条占据 #center-controls 的全部空间 */
    height: 4px;
    border-radius: 3px;
    appearance: none;
    margin: 0;  /* 确保进度条没有多余的间距 */
    backdrop-filter: blur(10px);
}
#seek-bar::-webkit-slider-thumb {
    width: 3px;
    /* 滑块宽度 */
    height: 16px;
    /* 滑块高度 */
    background-color: white;
    /* 白色滑块颜色 */
    border-radius: 3px;
    /* 圆角边框 */
    appearance: none;
    /* 清除默认样式 */
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

#seek-bar::-webkit-slider-thumb:hover {
    width: 3px;
    /* 滑块宽度 */
    height: 16px;
    /* 滑块高度 */
    background-color: white;
    /* 白色滑块颜色 */
    border-radius: 3px;
    /* 圆角边框 */
    appearance: none;
    /* 清除默认样式 */
    cursor: pointer;
    opacity: 1.0;
    transition: opacity 0.5s ease;
}

.control-button {
    width: 25px;
    /* 设置按钮的宽度 */
    height: 25px;
    /* 设置按钮的高度 */
    margin-right: 9.6px;
    /* 设置按钮右边距 */
    /* 移除按钮内边距 */
    border: none;
    /* 移除按钮边框 */
    position: flex;
    /* 使用 flexbox 布局 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    background-size: cover;
    /* 使背景图片填满按钮 */
    cursor: pointer;
    /* 设置鼠标指针样式为手型 */
    background-color: transparent;
    /* 使按钮背景透明 */
    box-shadow: none;
    /* 移除按钮阴影 */
    text-indent: -9999px;
    /* 将文本缩进到看不见的位置 */
    overflow: hidden;
    /* 隐藏溢出的文本内容 */
    z-index: 100;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.control-button:hover {
    opacity: 1.0;
    transition: opacity 0.5s ease;
}

#pop-play,
#pop-pause,
#pop-up,
#pop-down,
#pop-full,
#pop-win,
#pop-audio {
    margin-bottom: 48.6px;
    position: fixed;
    transform: translate(-25%, -50%);
}

#pop-danmakuswitch1,
#pop-danmakuswitch2 {
    width: 12px;
    margin-right: 48.6px;
    position: fixed;
    transform: translate(-50%, -35%);
}

#pop-bar,
#pop-bar2 {
    margin-bottom: 48.6px;
    position: fixed;
    transform: translate(-50%, -50%);
}

#pop-alphabar,
#pop-linebar,
#pop-fontbar,
#pop-heightbar,
#pop-lightbar,
#pop-speedbar {
    position: fixed;
    transform: translate(-50%, -50%);
}

#pop-subtitle,
#pop-comment,
#pop-settings {
    margin-right: 48.6px;
    position: fixed;
    transform: translate(-50%, -25%);
    width: 12px;
}

#pop-alpha,
#pop-line,
#pop-font,
#pop-height,
#pop-light,
#pop-speed {
    margin-right: 60px;
    position: fixed;
    transform: translate(-50%, -37%);
    width: 12px;
}

.pop {
    position: fixed;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    backdrop-filter: blur(15px);
    /* 添加毛玻璃效果 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    user-select: none;
    border: none;
    /* 添加阴影 */
    z-index: 100;
}

#volume-display {
    position: fixed;
    top: 108px;
    left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    user-select: none;
    border: none;
    padding: 10px;
    z-index: 100;
    display: none;
}

*:focus {
    outline: none;
}

#time-display {
    margin-right: 9.6px;
    display: flex;
    /* 使用 flexbox 布局 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    padding: 0;
    border: none;
    font-size: 12.8px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    /* 背景颜色改成红色用于调试 */
    user-select: none;
    z-index: 100;
}

#fullscreen-button,
#windowed-button {
    display: flex;
    /* 使用 flexbox 布局 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    width: 25px;
    /* 设置按钮的宽度 */
    height: 25px;
    /* 设置按钮的高度 */
    padding: 0;
    /* 移除按钮内边距 */
    border: none;
    /* 移除按钮边框 */
    background-size: cover;
    /* 使背景图片填满按钮 */
    cursor: pointer;
    /* 设置鼠标指针样式为手型 */
    background-color: transparent;
    /* 使按钮背景透明 */
    box-shadow: none;
    /* 移除按钮阴影 */
    text-indent: -9999px;
    /* 将文本缩进到看不见的位置 */
    overflow: hidden;
    /* 隐藏溢出的文本内容 */
    z-index: 100;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

#fullscreen-button:hover {
    opacity: 1.0;
    transition: opacity 0.5s ease;
}

#windowed-button:hover {
    opacity: 1.0;
    transition: opacity 0.5s ease;
}

video::-webkit-media-text-track-container {
    bottom: 4vh;
}

:root {
    --plyr-color-main: #a1a1a1;
    --plyr-range-track-height: 3px;
    --plyr-font-smoothing: true;
}

#video-title {
    position: absolute;
    top: 54px;
    left: 0px;
    border: none;
    /* 移除按钮边框 */
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    padding-left: 5px;
    border-radius: 5px;
    opacity: 1.0;
    /* 背景透明度 */
    /* 添加过渡效果 */
    backdrop-filter: blur(10px);
    /* 添加毛玻璃效果 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    user-select: none;
    z-index: 100;
    transition: color 0.5s ease, opacity 0.5s ease;
    /* 添加阴影 */
}

#video-title:hover {
    opacity: 1.0;
    color: rgba(255, 255, 255, 1.0);
    transition: color 0.5s ease, opacity 0.5s ease;
}

#files-title {
    display: none;
    position: absolute;
    bottom: 30vh;
    left: 0px;
    border: none;
    /* 移除按钮边框 */
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    padding-left: 5px;
    border-radius: 5px;
    opacity: 1.0;
    /* 背景透明度 */
    /* 添加过渡效果 */
    backdrop-filter: blur(10px);
    /* 添加毛玻璃效果 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    user-select: none;
    z-index: 100;
    transition: color 0.5s ease, opacity 0.5s ease;
    /* 添加阴影 */
}

#files-title:hover {
    opacity: 1.0;
    color: rgba(255, 255, 255, 1.0);
    transition: color 0.5s ease, opacity 0.5s ease;
}

/* 动画 */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/*//////////////////*/
/* 侧边控制按钮的样式 */
#side-controls {
    display: flex;
    flex-direction: column;  /* 按钮垂直排列 */
    align-items: center;
    gap: 10px;  /* 按钮之间的间距 */
    background-color: rgba(0, 0, 0, 0.2);  /* 圆角矩形的背景颜色 */
    backdrop-filter: blur(15px);  /* 毛玻璃效果 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);  /* 阴影效果 */
    border-radius: 10px;  /* 圆角半径 */
    padding: 10px;  /* 内边距，确保按钮不会紧贴边框 */
}

.side-button {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.side-button:hover {
    opacity: 1.0;
}

.danmaku {
    opacity: 0.9;
    text-shadow: 1px 1px 2px #000;
}

#danmaku-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 使容器宽度与视频播放器相同 */
    height: 100%;
    /* 使容器高度覆盖视频播放器 */
    pointer-events: none;
    /* 确保不会阻挡视频控件的交互 */
    overflow: hidden;
    display: flex;
    justify-content: center;  /* 水平居中 */
}
#canvas{
    background-color: transparent;
}
#send-button {
    position: absolute;
    bottom: 100px;
    /* 或根据实际需要调整 */
    right: 20px;
    /* 或根据实际需要调整 */
    z-index: 10;
    /* 确保在视频播放器之上 */
}

#subtitle-alert {
    position: fixed;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
    /* 默认不显示 */
    z-index: 1000;
    /* 确保它显示在最上面 */
}

/* 隐藏类，用于动画 */
.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#danmaku-opacity-control,
#options-control {
    position: absolute;
    top: 0;
    justify-content: center;
    right: 0.5%;
    /* 调整为需要的位置 */
    width: 200px;
    height: 90%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    z-index: 100;
    /* 确保在弹幕按钮之上 */
    transition: opacity 0.5s ease;
}
.danmaku-button:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#close-opacity-control,
#close-options-control {
    background-image: url('icons/kill.png');
    background-size: cover;
    position: absolute;
    border: none;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: transparent;
    width: 20px;
    /* 设置按钮的宽度 */
    height: 20px;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

#close-opacity-control:hover,
#close-options-control:hover {
    opacity: 1.0;
    transition: opacity 0.5s ease;
}
.danmaku-button {
    width: 100%;
    padding: 10px;
    background-color: rgba(122, 122, 122, 0.5);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#opacity-slider,
#line-width-slider,
#font-size-slider,
#view-height-slider,
#light-slider,
#speed-slider {
    width: 90%;
    height: 4px;
    color: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    backdrop-filter: blur(10px);
    appearance: none;
}

#alpha-image,
#line-image,
#font-image,
#height-image,
.option-image,
#speed-image {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: transparent;
    border: none;
    opacity: 0.5;
}

#alpha-image {
    background-image: url('icons/alpha.png');
}

#speed-image {
    background-image: url('icons/speed.png');
}

#line-image {
    background-image: url('icons/line.png');

}

#font-image {
    background-image: url('icons/font.png');
}
#height-image {
    background-image: url('icons/height.png');
}
#light-image {
    background-image: url('icons/light.png');
}
#opacity-value {
    margin-left: 65%;
    font-size: 0.4em;
    color: rgba(255, 255, 255, 0.5);
}

/* 外部容器 */
#alphamenu,#optionsmenu {
    margin-top:20px;
    display: flex;
    flex-direction: column;  /* 子元素垂直排列 */
    gap: 10px;  /* 设置上下间距 */
    padding: 10px;  /* 设置内边距 */
    background-color: transparent;  /* 半透明背景 */
    border-radius: 10px;  /* 圆角效果 */
    box-shadow: none; 
}
/* 单个控制容器，所有控制项都是横向排列 */
#opacity-slider-container,
#line-width-slider-container,
#speed-slider-container,
#view-height-slider-container,
.option-class,
#font-size-slider-container {
    display: flex;
    flex-direction: row;  /* 子元素横向排列 */
    align-items: center;  /* 垂直居中对齐 */
    gap: 5px;  /* 设置左右间距 */
}
/* 滑块控制样式，统一设置滑块拇指样式 */
#opacity-slider::-webkit-slider-thumb,
#speed-slider::-webkit-slider-thumb,
#line-width-slider::-webkit-slider-thumb,
#light-slider::-webkit-slider-thumb,
#view-height-slider::-webkit-slider-thumb,
#font-size-slider::-webkit-slider-thumb {
    width: 4px;
    /* 滑块宽度 */
    height: 16px;
    /* 滑块高度 */
    background-color: white;
    /* 滑块颜色 */
    border-radius: 3px;
    /* 圆角效果 */
    appearance: none;
    /* 清除默认样式 */
    cursor: pointer;
    opacity: 0.5;
    /* 默认透明度 */
    transition: opacity 0.5s ease;
    /* 透明度过渡效果 */
}

/* 悬停效果：当鼠标悬停在图片上时 */
#alpha-image:hover,
#line-image:hover,
#font-image:hover,
#height-image:hover,
.option-image:hover,
#speed-image:hover {
    opacity: 1.0;
    /* 完全显示 */
    transition: opacity 0.5s ease;
}

/* 悬停效果：当鼠标悬停在滑块上时 */
#opacity-slider::-webkit-slider-thumb:hover,
#speed-slider::-webkit-slider-thumb:hover,
#line-width-slider::-webkit-slider-thumb:hover,
#light-slider::-webkit-slider-thumb:hover,
#view-height-slider::-webkit-slider-thumb:hover,
#font-size-slider::-webkit-slider-thumb:hover {
    cursor: pointer;
    opacity: 1.0;
    /* 完全显示 */
    transition: opacity 0.5s ease;
}

/* 滑块轨道样式 */
input[type="range"] {
    flex-grow: 1;
    height: 4px;
    appearance: none;
    border-radius: 3px;
    background-color: #ddd;
    outline: none;
}

.windowbutton {
    position: flex;
}

/* 关闭按钮的样式 */
.close-button-other {
    margin: 10px;
    right: 0px;
    position: absolute;
    /* 绝对定位，方便放置在特定位置 */
    width: 30px;
    /* 按钮宽度 30 像素 */
    height: 30px;
    /* 按钮高度 30 像素 */
    /* 水平居中 */
    cursor: pointer;
    /* 鼠标悬停时显示为指针 */
    background: none;
    /* 无背景色 */
    border: none;
    /* 无边框 */
    outline: none;
    /* 无轮廓 */
    transition: color 0.3s;
    /* 颜色渐变效果 */
    z-index: 114514;
}

/* 使用伪元素绘制 "X" */
.close-button-other::before,
.close-button-other::after {
    content: '';
    /* 伪元素内容为空 */
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 绝对定位 */
    width: 1.5px;
    /* 线条宽度 */
    height: 18px;
    /* 线条高度 */
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    /* 线条颜色为深灰色 */
    border-radius: 2px;
    /* 圆角效果 */
}

/* 第一条线条，旋转形成对角线 */
.close-button-other::before {
    transform: rotate(45deg);
    /* 顺时针旋转 45 度 */
}

/* 第二条线条，旋转形成对角线 */
.close-button-other::after {
    transform: rotate(-45deg);
    /* 逆时针旋转 45 度 */
}

/* 悬停时的样式 */
.close-button-other:hover::before,
.close-button-other:hover::after {
    background-color: #ff5f57;
    /* 悬停时线条颜色变为红色 */
}

/* 最小化按钮的样式 */
.minimize-button-other {
    margin: 10px;
    right: 30px;
    position: absolute;
    /* 绝对定位，方便放置在特定位置 */
    /* 距离右侧 40 像素 */
    width: 30px;
    /* 按钮宽度 30 像素 */
    height: 30px;
    /* 水平居中 */
    cursor: pointer;
    /* 鼠标悬停时显示为指针 */
    background: none;
    /* 无背景色 */
    border: none;
    /* 无边框 */
    outline: none;
    /* 无轮廓 */
    transition: color 0.3s;
    /* 颜色渐变效果 */
    z-index: 114514;
}

/* 使用伪元素绘制 "-" */
.minimize-button-other::before {
    content: '';
    /* 伪元素内容为空 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 绝对定位 */
    width: 15px;
    /* 线条宽度 */
    height: 1.5px;
    /* 线条高度 */
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    /* 线条颜色为深灰色 */
    border-radius: 2px;
    /* 圆角效果 */
}

/* 悬停时的样式 */
.minimize-button-other:hover::before {
    background-color: #f4bf4f;
    /* 悬停时线条颜色变为红色 */
}

.menuclose {
    top: -10px;
    right: -10px;
}

.playclose {
    position: fixed;
    top: 0px;
}